<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tammi's Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div>
        <p><a href="/">Home</a> | <a href="/projects">Projects</a> | Contact</p>
        <div>
            <h1>Contact Me!</h1>
            <form>
                <table>
                    <tr>
                        <td>Name</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text"></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Message</td>
                    </tr>
                    <tr>
                        <td><textarea cols="40" rows="7"></textarea></td>
                    </tr>
                </table>
                <button>Send</button>
            </form>
        </div>
    </div>
</body>
</html>