<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tammi's Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
        <p class="nav"><a href="/">Home</a> | Projects | <a href="/contact">Contact</a></p>
        <div id="allProjects">
            <h1 id="project">Here are some of my projects!</h1>
            <div>
                <div class="eachProject">
                    <img src="http://porterbriggs.com/wp-content/uploads/2014/03/sweetpotatofries.jpg" class="projectImg">
                    <div class="projectInfo">
                        <h3>Sweet Potato Fries</h3>
                        <p>I made some sweet potato fries.</p>
                    </div>
                </div>
                <div class="eachProject">
                    <img src="http://2.bp.blogspot.com/-Z0gNVGKYoqM/UjYqUuRHuiI/AAAAAAAALHw/b8aIFaWY2SE/s1600/IMG_3321.JPG" class="projectImg">
                    <div class="projectInfo">
                        <h3>Sweet Potato Pie</h3>
                        <p>I made this delicious sweet potato pie with a blindfold on.</p>
                    </div>
                </div>
                <div class="eachProject">
                    <img src="https://www.wellplated.com/wp-content/uploads/2016/06/Crock-Pot-Baked-Potatoes-recipe.jpg" class="projectImg">
                    <div class="projectInfo">
                        <h3>Baked Potato</h3>
                        <p>These baked potatoes make for a great snack!!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>